:root {
  --colore-bordi: rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.font-1 {
  font-family: "Josefin Sans", sans-serif;
}

.font-2 {
  font-family: "Oswald", sans-serif;
}

.font-3 {
  font-family: "Cormorant", serif;
}

.font-4 {
  font-family: "Eczar", serif;
}

.font-5 {
  font-family: "Roboto", sans-serif;
}

.barraNavigazione {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin: 0;

  .cont-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    width: 100%;
  }

  .cont-logo {
    flex: 1;
    position: relative;
    align-self: flex-start;

    .logo {
      position: absolute;
      left: 1.5rem;
      top: 27px;
      max-width: 170px;
      display: block;
    }
  }

  .cont-menu {
    text-align: center;
  }

  .menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
}

.link-navbar {
  display: block;
  transition: opacity 0.4s;
  color: rgb(255, 255, 255, 1);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;

  &:hover {
    opacity: 0.8;
  }
}

.top {
  .cont-img-top {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }

    .img-top {
      margin: 0;
      display: block;
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 1;
      height: 100vh;
      object-fit: cover;
    }

    &.int {
      .img-top {
        height: 80vh;
      }
    }

    .slogan-top {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255, 1);
      font-size: 40px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      z-index: 3;
      line-height: 1.2;

      .acronimo {
        font-size: 60px;
      }
    }
  }
}

.blocco {
  background-color: rgba(255, 255, 255, 1);
  align-items: flex-start;

  .cont-testo {
    @media (max-width: 991px) {
      padding-inline: 2rem;
      padding-block: 3rem;
    }

    @media (min-width: 992px) {
      padding: 3rem;
      position: sticky;
      top: 3rem;
    }

    .btn-testo {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      background-color: sandybrown;
      height: 40px;
      padding: 0 20px;
      color: white;
    }
  }

  .cont-img {
    position: sticky;
    top: 3rem;

    .img {
      object-fit: cover;
    }
  }
}

.titolo,
.titolo2 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  margin-bottom: 12px;
}

.titolo {
  font-size: 40px;
}

.titolo2 {
  font-size: 30px;
}

.sottotitolo {
  line-height: 1;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2rem;
}

.fontTit {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.footer {
  border-top: 1px solid var(--colore-bordi);

  @media (min-width: 992px) {
    .bordo-contatti-footer {
      border-left: 1px solid var(--colore-bordi);
    }
  }

  .bordo-contatti-footer {
    border-right: 1px solid var(--colore-bordi);
  }

  .border-blocco-logo {
    @media (max-width: 991px) {
      border-left: 1px solid var(--colore-bordi);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
