@tailwind base;
@tailwind components;
@tailwind utilities;

.font-1 {
  font-family: "Josefin Sans", sans-serif;
}

.font-2 {
  font-family: "Oswald", sans-serif;
}

.font-3 {
  font-family: "Cormorant", serif;
}

.font-4 {
  font-family: "Eczar", serif;
}

.font-5 {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.barraNavigazione {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin: 0;

  .cont-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 auto;
  }

  .cont-logo {
    flex: 1;
    position: relative;
    align-self: flex-start;

    .logo {
      position: absolute;
      left: 1.5rem;
      top: 27px;
      max-width: 170px;
      display: block;
    }
    // background-color: rgba(99, 50, 64, 1);
    // position: sticky;
    // top: 0;

    // .cont-barra {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   height: 90px;
    //   margin: 0 auto;
    // }

    // .cont-left {
    //   display: flex;
    //   justify-content: flex-start;
    //   align-items: center;
    //   height: 100%;
    // }

    // .cont-logo {
    //   flex: 1;

    //   .logo {
    //     max-width: 70px;
    //     display: block;
    //   }
  }

  .cont-menu {
    justify-self: center;
  }

  .menu-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
}

.link-navbar {
  display: block;
  transition: opacity 0.4s;
  color: rgb(255, 255, 255, 1);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;

  &:hover {
    opacity: 0.8;
  }
}

.top {
  .cont-img-top {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }

    .img-top {
      margin: 0;
      display: block;
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 1;
      // height: calc(100vh - 90px);
      height: 100vh;
      object-fit: cover;
    }

    .slogan-top {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255, 1);
      font-size: 40px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      z-index: 3;
      line-height: 1.2;

      .acronimo {
        font-size: 60px;
      }
    }
  }
}
/* .barraNavigazione {
  box-shadow: 2px 2px 20px 0px rgb(0 0 0 / 42%);
}

.link-navbar {
  @apply duration-500 no-underline block transition-opacity;
  color: rgb(126 91 239 / 1);
}

.link-navbar:hover {
  @apply opacity-95;
} */

.blocco {
  width: 100%;
  // margin: 40px 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;

  .cont-testo {
    padding: 30px 40px;
    width: 50%;
    flex: 0 0 auto;

    .titolo {
      font-size: 40px;
      font-family: "Josefin Sans", sans-serif;
      line-height: 1;
      margin-bottom: 12px;
    }

    .sottotitolo {
      line-height: 1;
      font-size: 20px;
      font-family: "Josefin Sans", sans-serif;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 35px;
    }

    .btn-testo {
      display: block;
      width: max-content;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      background-color: sandybrown;
      height: 40px;
      padding: 0 20px;
      color: white;
    }
  }

  .cont-img {
    width: 50%;
    flex: 0 0 auto;
    align-self: stretch;

    .img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
